

.footer {
    background-color:rgb(240, 168, 168);
    align-content: center;
    left:0;
    bottom:0;
    height:70px;
    margin: 5px;
    width: 100%;
    text-align: center;
    color: rgb(68, 89, 105);
    
}
