
.header {
    background: rgba(82, 26, 26, 0.863);
        border-bottom: 1px solid rgb(80, 59, 59);
        color: rgb(250, 252, 253);
        text-align: center;
        padding:10px;
        h1 {
            line-height: 1.2;
            font-weight: bold;
    }
}